.sidebar {
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.logo {
    padding: 1.875rem 0 3.125rem;
    text-align: center;
}

[data-test-id='sider-switch'] {
    height: 4.125rem;
    width: 1.25rem;
    padding: 0.812rem 0;
    position: fixed;
    top: 47.5%;
    border-left: 1.25rem solid var(--light-background-color);
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
}

[data-test-id='sider-switch-mobile'] {
    height: 3rem;
    width: 2rem;
    padding: 0.3rem 0 1.5rem;
    position: fixed;
    top: 1.5rem;
    border-left: 1.8rem solid var(--light-background-color);
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}

.trigger{
    margin-left: -1.25rem;
}

.icon svg,
.icon_profile svg{
    font-size: 1rem;
}
.icon svg path {
    fill: var(--second-primary-text-color);
}

.exit {
    width: 100%;
    position: absolute;
    bottom: 0;
}

button.exit_btn {
    margin: 0.25rem 0.12rem;
}

.exit_text {
    padding-left: 1.5rem;
}

@media (max-width: 834px) {
    [data-test-id='sider-switch'] {
        top: 47%;
    }
}

@media (max-width: 576px) {
    aside.sidebar {
        position: absolute;
        height: 100vh;
    }
    .trigger{
        margin-left: -1.3rem;
    }
    .exit_text {
        padding-left: 0.9rem;
    }
}
