.passwords_wrapper input {
    height: 2.5rem;
}

.passwords_wrapper span {
    padding-block: 0;
}

.password > div > div > div:nth-child(2) > div {
    font-size: 0.75rem;
    line-height: 1.3;
}

.new_password > div > div > div:nth-child(2) {
    margin-bottom: 1.2rem;
}

div.repeat_password {
    margin-bottom: 3.75rem;
}

@media (max-width: 576px) {
    .new_password > div > div > div:nth-child(2) {
        margin-bottom: 0.7rem;
    }
    div.repeat_password {
        margin-bottom: 3.35rem;
    }
}
