.action {
    width: 15rem;
    text-align: center;
    background-color: var(--light-background-color);
    border-radius: 2px;
}

.action_title {
    padding: 0.75rem 1.5rem;
    line-height: 1.313rem;
    letter-spacing: 0.5px;
}

.action_btn_wrapper {
    padding: 0.75rem 0;
}

.action_btn_text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--primary-text-color);
}

@media (max-width: 834px) {
    .changed_size182 {
        width: 11.375rem;
        height: 7.625rem;
    }
    .changed_size230 {
        width: 14.375rem;
        height: 6.312rem;
    }
    .action_title {
        text-align: left;
    }
}
